.main-wrap {
    width: 100%;
    height: 100%;
}
.main-container {
    width: 800px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 30px;
    margin-top: 30px;
}

.music-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music-owner button {
    width: 120px;
    height: 34px;
    border: none;
    background-color: #2fcebb;
    color: white;
    font-size: 17px;
}

.player {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.music-list {
    width: 25%;
    height: 500px;
    overflow-y: scroll;
}
.music-list::-webkit-scrollbar {
    display: none;
}
.list-item {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid #2fcebb;
}
.list-item.active {
    background-color: #2fcebb;
    color: #fff;
    border: none;
}

.list-item:hover div {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 5s;
}
@keyframes marquee {
    from {
        transform: translate(0%);
    }
    99%,
    to {
        transform: translate(-100%);
    }
}

.add-item {
    height: 34px;
    background-color: #2fcebb;
    color: white;
    border: none;
    text-align: center;
    line-height: 34px;
    font-size: 34px;
    cursor: pointer;
    padding: 0;
    margin-bottom: 3px;
}
.effector {
    width: 75%;
    height: 500px;
    padding: 0 20px;
}
.effect-tool-button {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.effect-tool-button .left-container {
    display: flex;
}

.time-container {
    padding-left: 20px;
}
.effect-tool-button button {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;

    background-color: white;
    color: #2fcebb;
    border: none;
    outline: none;
}
